/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: black;
}

#main-nav{
    line-height: 76px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul , li {
    display: inline;
    padding: 10px;  
    vertical-align: middle;  
}

.container-center{
    width: 80%;
    margin: auto;
}

main img{
    max-width: 100%;
}

section{
    display: block;
}
/* / common */

header{
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 80px;
    line-height: 50px;
    min-width: 1175px;
    background-color: white;
}

main .container-center{
    margin-top: 50px;
}

#logo{
    float: left;
    vertical-align: middle;
    padding-top: 20px;
}

#sx{
    float: left;
}

#dx{
    float: right;
}

.btn{
    color: white;
    background-color: blue ;
    padding: 10px;
}

#jumbo{
    background-color: #b4d0e7;

}

#jumbo .container-center{
    position: relative;
    width: 90%;
    max-width: 1320px;
    bottom: -80px;
}

#jumbo .column-dx{
    width: 65%;
    float: left;
}

#jumbo .column-sx{
    width: 30%;
    margin-left: 5%;
    float: left;
    
    
}

#jumbo h1{
    line-height: 108px;
    margin-bottom: 30px;
    font-size: 77px;
}

#jumbo .column-sx .btn{
    width: 55%;
    margin: 10px;
    margin-left: 0;
}

#arrow{
    font-size: 77px;
}

#plans{
    margin-top: 150px;

}

#plans h1{
    margin-bottom: 50px;
}

.inp_rad{
    padding: 10px;
}
/* Colonne */
#plans .column{
    float: left;
    width: calc((100% / 3) - 60px);
    margin: 0px 60px;
    border: solid 1px;
    margin-top: 10px;
    margin-left: 0px;
   
}

#c_testo{
    padding: 5px;
    border-bottom: solid 1px;
    width: 100%;
    text-align: center;

}

.column h3 , .column h4{
    padding: 10px;
}
.g_color{
    color: gray;
}

.column i{
    padding: 10px;
}

.column .btn{
    text-align: center;
    margin: 10px;
}

.blue{
    color: blue;
    text-decoration: underline;
}

.acq{
    padding: 10px;
}

hr{
    color: gray;
    width: 25%;
    margin: 10px;
}

.column ul i {
    color: blue;
}

.column ul li{
    display: block;
    padding-left: 0px;
}

#btn_pos{
    float: left;
}

team