/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: black;
}

#main-nav{
    line-height: 76px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul , li {
    display: inline;
    padding: 10px;  
    vertical-align: middle;  
}

.container-center{
    width: 80%;
    margin: auto;
}

main img{
    max-width: 100%;
}

section{
    display: block;
}
/* / common */

/* header/jumbo */


header{
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 80px;
    line-height: 50px;
    min-width: 1175px;
    background-color: white;
}

main .container-center{
    margin-top: 50px;
}

#logo{
    float: left;
    vertical-align: middle;
    padding-top: 20px;
}

#sx{
    float: left;
}

#dx{
    float: right;
}

.btn{
    color: white;
    background-color: #0161FF ;
    padding: 10px;
}

#jumbo{
    background-color: #b4d0e7;

}

#jumbo .container-center{
    position: relative;
    width: 90%;
    max-width: 1320px;
    bottom: -80px;
}

#jumbo .column-dx{
    width: 65%;
    float: left;
}

#jumbo .column-sx{
    width: 30%;
    margin-left: 5%;
    float: left;
    
    
}

#jumbo h1{
    line-height: 108px;
    margin-bottom: 30px;
    font-size: 77px;
}

#jumbo .column-sx .btn{
    width: 55%;
    margin: 10px;
    margin-left: 0;
}

#arrow{
    font-size: 77px;
}

/* Plans */

#plans{
    margin-top: 150px;

}

#plans h1{
    margin-bottom: 50px;
}

.inp_rad{
    padding: 10px;
}
/* Colonne */
#plans .column{
    float: left;
    width: calc((100% / 3) - 60px);
    margin: 0px 60px;
    border: solid 1px;
    margin-top: 10px;
    margin-left: 0px;
   
}

#c_testo{
    padding: 5px;
    border-bottom: solid 1px;
    width: 100%;
    text-align: center;

}

.column h3 , .column h4{
    padding: 10px;
}
.g_color{
    color: gray;
}

.column i{
    padding: 10px;
}

.column .btn{
    text-align: center;
    margin: 10px;
}

.blue{
    color: #0161FF;
    text-decoration: underline;
}

.acq{
    padding: 10px;
}

hr{
    color: gray;
    width: 25%;
    margin: 10px;
}

.column ul i {
    color: #0161FF;
}

.column ul li{
    display: block;
    padding-left: 0px;
}

#btn_pos{
    float: left;
}

.team{
    width: 100%;
    
    border: solid 1px;
    margin-top: 900px;
    
}

.team .far{
    height: 50px;
    vertical-align: middle;
    line-height: 35px;
}

.team .btn{
    float: right;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.team h2{
    float: left;
    padding: 10px;


}

.ent{
    float:left;
    display: block;
    padding: 10px;
}

/* Partners */

#partners .container-center img{
    width: 55%;
    float:left ;
}

#partners .container-center .p_text{
    float:left ;
    width: 35%;
    padding: 30px;
}

#partners .container-center .p_text h2{

    padding-bottom: 30px;
}

.btn_blank{
    padding: 10px;
    border: solid 1px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
}

.op_img{
    width: calc((100% / 3) - 60px);
    float: left;
    margin: 20px;
}

/* Costumers */

#costumer .container-center h4{
    color: #0161FF;
    text-decoration: underline;
    padding: 20px;
    padding-left: 0px;

}

#costumer .cost_logo{
    float: left;
    width: 380px;
    height: 357px;
    text-align: center;
    line-height: 50%;

}

#costumer .cost_logo img{
    position: absolute;
    filter: invert(1);
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#costumer .cost_logo .img_bg{
    position: relative; 
    float: left;
    height: 50%;
    width: 50%;
   
}

#costumer .cost_logo_center{
    float: left;
    width: 50%;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 50px;

}

#costumer .cost_logo_center img{
    width: 50%;
    height: 50%;
    padding: 10px;
}

#costumer .cost_logo_center p{
    padding: 10px;
}

/* Start */

#start .bg_start{
    background-color: #B4D0E7;
    height: 350px;
}

#start .bg_start .container-center h2{
    float: left;
    color: #60092B;
    vertical-align: middle;
    line-height: 350px;
}

#start .bg_start .container-center .btn_white{
    float: right;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 160px;

}

#start{
    margin-top: 357px;
}

/* FAQ */

#faq .container-center{
    margin-top: 100px;
    
}

#faq .container-center h2,h3{
    padding-top: 20px;
}

#faq .container-center h3{
    display: inline-block;
    padding-bottom: 20px;
}

#faq .container-center .arrow{
    text-align: right;
    margin-left: 300px;
}

#faq .container-center hr{
    width: 100%;
}


/* Footer */

footer{
    background-color:black;
    color: white;
    height: 500px;
    text-align: center;
}

footer .container-center ul{
    padding-top: 50px;
    display: inline-block;
    text-align: left;
}

footer .container-center ul li{
    display: block;
    width: 200px ;
}

footer hr , .globe{
    color: gray;
    text-align: left;
}

footer hr{
    width: 100px;
    margin-top: 50px;
}